@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}
